@import '../App.scss';
.monthView-container {
  display: grid;
  grid-template-columns: repeat(4, auto);
  padding: 0.5em;
  gap: 0.4em;
  align-items: center;
}
.monthView__title {
  grid-column: 2/3;
  color: $color-blue-800;
}
.monthView__year {
  grid-column: 3/4;
  color: $color-blue-600;
}
.display {
  grid-column: 2/4;
  display: flex;
  flex-direction: column;
}
.months {
  display: flex;
  flex-direction: row;
  gap: 1em;
  align-self: center;
  border-radius: 0.5em;
  padding: 0.5em 2em;
  background-color: rgba($color: $color-blue-600, $alpha: 0.2);
  box-shadow: 0px 1px 2px rgba($color: #000000, $alpha: 0.2);
  margin-bottom: 1em;
  button {
    border: none;
    padding: 0.4em;
    font-weight: 700;
    border-radius: 25%;
    background-color: transparent;
  }
}
.weekdays {
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 0 1em;
  text-align: center;
  color: $color-brown;
  font-weight: 400;
  font-size: 0.9rem;
}
.month-days {
  background-color: rgba($color: $color-blue-800, $alpha: 0.5);
  border-radius: 1em;
  display: grid;
  grid-template-columns: repeat(7, auto);
  height: auto;
  justify-content: space-evenly;
  align-items: center;
  gap: 1em;
  padding: 1em;
  color: $color-beige;
}
.current-month {
  color: $color-blue-800;
  font-size: 1.3rem;
}
.non-current-month {
  cursor: pointer;
  color: rgba($color: $color-blue-800, $alpha: 0.7);
}
.card-day {
  padding: 0.1em;
  margin-inline: auto;
  text-align: center;
  cursor: pointer;
  height: 2em;
}
.selected-day {
  border-radius: 25%;
  padding: 0.2em;
  color: $color-blue-800;
  background-color: $color-beige;
}
.display__btn {
  border: none;
  padding: 1em 0.3em;
  border-radius: 0.5em;
  background-color: $color-blue-600;
  color: $color-beige;
  font-size: 1rem;
  cursor: pointer;
}
.appointment {
  color: $color-beige;
  font-weight: 900;
  margin: 0;
  font-size: 1.5em;
}
.next-btn {
  display: flex;
  grid-column: 4/5;
  grid-row: 2/3;
  justify-self: center;
}
.prev-btn {
  display: flex;
  justify-self: center;
  grid-column: 1/2;
  grid-row: 2/3;
}

@media screen and (min-width: 900px) {
  .monthView__title {
    font-size: 4rem;
  }
  .monthView__year {
    font-size: 2rem;
  }
  .months {
    button {
      font-size: 2rem;
    }
  }
  .weekdays {
    font-size: 1.7rem;
    font-weight: 600;
  }
  .month-days {
    font-size: 1.7rem;
  }
  .display__btn {
    font-size: 2rem;
  }
}
