@import '../App.scss';
.dayView-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-inline: 1em;
  border-radius: 1em;
  background-color: rgba($color: $color-brown, $alpha: 0.6);
  height: 100%;
  padding: 1em;
}
.appointments-container {
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  min-height: 10vh;
  background-color: rgba($color: $color-brown, $alpha: 0.7);
  box-shadow: inset 0px 10px 1px rgba($color: #000000, $alpha: 0.2);
  border-radius: 0.5em;
}
.appointment-content {
  display: flex;
  flex-direction: row;
  background-color: rgba($color: $color-beige, $alpha: 0.7);
  cursor: pointer;
  padding: 0 1em;
  border-radius: 0.5em;
}

.add-appointment {
  align-self: center;
  border: none;
  background-color: rgba($color: $color-beige, $alpha: 0.7);
  border-radius: 0.5em;
  padding: 0.4em 0.5em;
  box-shadow: 2px 2px 10px rgba($color: #000000, $alpha: 0.2);
  font-size: 2em;
  cursor: pointer;
}
@media screen and (min-width: 900px) {
  .dayView-container {
    align-self: center;
    height: 80%;
    font-size: 1.4rem;
  }
  .add-appointment {
    margin: auto;
  }
}
